lost_deal_reactivation_engine.json
{
  "name": "Lost Deal Reactivation Engine",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "daysInterval": 1,
              "triggerAtHour": 7
            }
          ]
        }
      },
      "id": "0758de60-b8fc-4e22-a31c-733772f98e05",
      "name": "Daily Signal Scan",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        320
      ],
      "notes": "Runs daily at 07:00. Closed-lost accounts are pulled fresh each run from the CRM filter view."
    },
    {
      "parameters": {
        "url": "https://api.hubapi.com/crm/v3/objects/companies/search",
        "method": "POST",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"filterGroups\": [ { \"filters\": [ { \"propertyName\": \"lifecyclestage\", \"operator\": \"EQ\", \"value\": \"closed_lost\" } ] } ], \"properties\": [\"name\",\"domain\",\"hubspot_owner_id\",\"owner_email\"], \"limit\": 100 }",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "4cb53f5d-44bd-42ce-906f-cf10f78a9c82",
      "name": "Get Closed-Lost Accounts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        320
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "CRM API (e.g. HubSpot Private App token)"
        }
      },
      "notes": "Placeholder = HubSpot company search for closed_lost. Swap for Salesforce SOQL / Pipedrive / a Google Sheet 'watchlist'. Must output one item per account with at least: account_id, name, domain, owner_email."
    },
    {
      "parameters": {
        "url": "https://api.harmonic.ai/companies",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "domain",
              "value": "={{ $json.domain }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "33b906e1-58b7-43f9-999b-5ece564faa5a",
      "name": "Check Funding",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        320
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Funding API (e.g. Harmonic / Crunchbase)"
        }
      },
      "notes": "Placeholder signal source \u2014 replace URL/params/credential. Runs once per account item."
    },
    {
      "parameters": {
        "url": "https://api.theirstack.com/v1/jobs/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "company_domain",
              "value": "={{ $('Get Closed-Lost Accounts').item.json.domain }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "324dc4f0-e162-4947-898f-df757f6defae",
      "name": "Check Hiring",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        320
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Hiring / Jobs API (e.g. TheirStack / Coresignal)"
        }
      },
      "notes": "Placeholder signal source \u2014 replace URL/params/credential. Runs once per account item."
    },
    {
      "parameters": {
        "url": "https://newsapi.org/v2/everything",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $('Get Closed-Lost Accounts').item.json.name }} (CEO OR CFO OR \"new hire\" OR appointed)"
            },
            {
              "name": "sortBy",
              "value": "publishedAt"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "4ef5a0be-64c7-4d9f-a6bf-a93674965e2d",
      "name": "Check Leadership & News",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        320
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "News API (leadership changes)"
        }
      },
      "notes": "Placeholder signal source \u2014 replace URL/params/credential. Runs once per account item."
    },
    {
      "parameters": {
        "url": "https://newsapi.org/v2/everything",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $('Get Closed-Lost Accounts').item.json.name }} (acquires OR acquired OR merger)"
            },
            {
              "name": "sortBy",
              "value": "publishedAt"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "4a5407bd-362d-4d38-8bfb-1e0cb912afa6",
      "name": "Check Acquisitions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        320
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "News / M&A API"
        }
      },
      "notes": "Placeholder signal source \u2014 replace URL/params/credential. Runs once per account item."
    },
    {
      "parameters": {
        "jsCode": "const acct = $('Get Closed-Lost Accounts').item.json;\nconst fundingRes = $('Check Funding').item.json;\nconst hiringRes = $('Check Hiring').item.json;\nconst leadershipRes = $('Check Leadership & News').item.json;\nconst acqRes = $('Check Acquisitions').item.json;\n\n// Window that counts as a 'new' signal. Match this to your scan frequency.\n// NOTE: This is a stateless heuristic. For true de-duplication, persist\n// last-seen signals to a store (Google Sheet / n8n Data Table / DB) and\n// compare here instead of relying on the date window.\nconst WINDOW_DAYS = 7;\nconst cutoff = Date.now() - WINDOW_DAYS * 24 * 60 * 60 * 1000;\nconst recent = (d) => { const t = new Date(d).getTime(); return !isNaN(t) && t >= cutoff; };\n\nconst signals = [];\n// Adapt these field paths to each provider's actual response shape.\nif (recent(fundingRes?.last_funding_date) || fundingRes?.new_round === true) {\n  signals.push(`Funding: ${fundingRes?.last_funding_type || 'new round'} ${fundingRes?.last_funding_amount || ''}`.trim());\n}\nif ((hiringRes?.open_roles_last_30d || 0) > 0 || recent(hiringRes?.latest_job_posted_at)) {\n  signals.push(`Hiring: ${hiringRes?.open_roles_last_30d || 'new'} relevant roles opened`);\n}\nif (recent(leadershipRes?.articles?.[0]?.publishedAt)) {\n  signals.push(`Leadership/news: ${leadershipRes?.articles?.[0]?.title || 'recent coverage'}`);\n}\nif (acqRes?.articles?.length && recent(acqRes?.articles?.[0]?.publishedAt)) {\n  signals.push(`M&A: ${acqRes?.articles?.[0]?.title || 'acquisition activity'}`);\n}\n\nconst hasNewSignal = signals.length > 0;\nconst signalSummary = signals.join('; ');\n\nconst draftPrompt = `You are an SDR writing a short, non-pushy re-engagement email to a previously closed-lost account.\n\nACCOUNT:\n${JSON.stringify(acct, null, 2)}\n\nNEW BUYING SIGNAL(S):\n${signalSummary}\n\nWrite a 1-line subject and a 4-6 sentence email. Reference the relevant signal naturally, briefly remind them who we are, and propose one low-friction next step. Return plain text with \"Subject:\" on the first line.`;\n\nreturn [{ json: { account: acct, signals, hasNewSignal, signalSummary, draftPrompt } }];"
      },
      "id": "93c47084-b4d8-4d01-95eb-e3f1577b6415",
      "name": "Detect New Signals",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        320
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "a377eaf6-39ce-48d9-9f59-8b069bd5ec6a",
              "leftValue": "={{ $json.hasNewSignal }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e94528a3-935b-4c7e-b2ab-960755b1cb1c",
      "name": "New Signal?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1540,
        320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"model\": \"claude-3-5-sonnet-20241022\", \"max_tokens\": 800, \"messages\": [ { \"role\": \"user\", \"content\": {{ JSON.stringify($json.draftPrompt) }} } ] }",
        "options": {}
      },
      "id": "da0726e8-19a5-4ea3-86b4-b72f5e06986f",
      "name": "Draft Re-engagement (Claude)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1760,
        220
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Anthropic API (x-api-key header)"
        }
      },
      "notes": "Header credential must set x-api-key = your Anthropic key."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/tasks",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"properties\": { \"hs_task_subject\": \"Re-engage closed-lost: new buying signal\", \"hs_task_body\": {{ JSON.stringify($json.content[0].text) }}, \"hs_task_priority\": \"HIGH\", \"hs_task_status\": \"NOT_STARTED\", \"hs_timestamp\": \"{{ $now.plus(1, 'day').toMillis() }}\", \"hubspot_owner_id\": \"{{ $('Detect New Signals').item.json.account.hubspot_owner_id }}\" } }",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "589f8f77-5d59-42c7-ab00-4c5b69b032cc",
      "name": "Create SDR Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1980,
        220
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "CRM API (e.g. HubSpot Private App token)"
        }
      },
      "notes": "Placeholder = HubSpot task create. Swap for Salesforce/Pipedrive task API. Task body = the Claude-drafted message; assign to the account owner."
    }
  ],
  "connections": {
    "Daily Signal Scan": {
      "main": [
        [
          {
            "node": "Get Closed-Lost Accounts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Closed-Lost Accounts": {
      "main": [
        [
          {
            "node": "Check Funding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Funding": {
      "main": [
        [
          {
            "node": "Check Hiring",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Hiring": {
      "main": [
        [
          {
            "node": "Check Leadership & News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Leadership & News": {
      "main": [
        [
          {
            "node": "Check Acquisitions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Acquisitions": {
      "main": [
        [
          {
            "node": "Detect New Signals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect New Signals": {
      "main": [
        [
          {
            "node": "New Signal?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "New Signal?": {
      "main": [
        [
          {
            "node": "Draft Re-engagement (Claude)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Draft Re-engagement (Claude)": {
      "main": [
        [
          {
            "node": "Create SDR Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "pinData": {},
  "tags": [
    {
      "name": "sales-automation"
    }
  ]
}